.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--bg);
  border-radius: 10px;
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  padding: 30px;
}

.form-container p {
  margin-top: 10px;
}

.form-container span {
  margin-left: 4px;
  color: var(--accent);
  cursor: pointer;
}

.form-container span:hover {
  color: var(--text-h);
}
